**/__pycache__/*
**/.ipynb_checkpoints/*
*/.pyc
**/Dataset/*
**/SavedModels/*
**/OtherModelTests/*
**/dsr/*
**/old/*
**/benchmark/log/*
**/__pycache__/*
**/.vscode/*
**/.ipynb_checkpoints/*
**/models/*
**/datasets/*
**/venv/*
**/plots/*
benchmarkSimilarEquations.json
